<h3>Create Post</h3>

<form>
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" required [(ngModel)]="post.title">
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea name="content" class="form-control" cols="10" rows="2" required [(ngModel)]="post.content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="savePost()" style="margin-top: 10px;">Create</button>
</form>